#Datalibraries
xlrd==1.2.0
html5lib==1.1
lxml==4.6.2

#Drivers:
webdriver-manager==3.2.2

#Webscraping
urllib3==1.26.2
selenium==3.141.0
beautifulsoup4==4.9.3
requests==2.25.0

#DataProcessing
tabula-py==2.2.0
pandas==1.1.4
TableauScraper==0.0.5

#Pipelining
dagster==0.10.4

#Reporting
schedule==0.6.0
tabulate==0.8.7
scrapbook 0.5.0
papermill==2.3.2
papermill-report==2.0.5
nbconvert==6.0.7

#Project
cookiecutter==1.7.2

#Jupyter
ipyparallel==6.3.0
jupytext==1.10.1
jupyter-offlinenotebook
nbdime-jupyterlab
